* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --ff-sans: "Inter", system-ui, sans-serif;
  --title: bold 1.75rem/1.25 var(--ff-sans);

  --pdg-inl-m: 1.5rem;
}

body {
  font-family: var(--ff-sans);
  background-color: #020204;
  color: white;
}
